<div class='event-page'>
    {{#if message}}
    <h3>"Sorry, there was an error with loading this event."</h3>
    {{/if}}

    {{#if event}}
    <h2>{{event.name}}</h2>
        <ul>
            <li>{{event.time}}</li>
            <li>{{event.location}}</li>
            <li>{{event.cost}}</li>
        </ul>
    <div id="map"></div>
    {{/if}}
</div>

<script src="../js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC36GFLupuR4CuD3dSvKKM9LIJ0Pb5hhCA&callback=initMap"
async defer></script>