<html>
    <head>
    <title>Frontend Challenge</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>

    <body>
        <div id="header">
            <h2>Events in the East Village</h2>
        </div>

        <div id="middle">
            {{{body}}}
        </div>

        <div id="footer">
            <a href="/">Home</a>
        </div>
    </body>
</html>